<%
  test_users = [
    {
      label: "Faculty (many)",
      value: "mlibrary.acct.testing1@gmail.com"
    },
    {
      label: "Graduate student (few)",
      value: "mlibrary.acct.testing2@gmail.com"
    },
    {
      label: "New student (none)",
      value: "mlibrary.acct.testing3@gmail.com"
    },
    {
      label: "Not in Alma",
      value: "definitelynotinalma"
    },
  ]

  items = [
    {
      label: "Booking Item",
      value: "39015051081035"
    }
  ]
%>
<m-callout subtle>
  <h2>Design &amp; Development Options</h2>

  <form method="get" action="/session_switcher" class="prose owl">
    <label for="test-user">
      Active user account:
    </label>
    <input type="text" list="users" id="test-user" name="uniqname" autocomplete="on" value="<%=session[:uniqname] || "" %>">
    <select id="users" autocomplete="off" aria-label="Select user type">
      <% test_users.each do |user| %>
        <option value="<%=user[:value]%>"><%=user[:label]%></option>
      <% end %>
    </select>

    <label for="item">
      Item:
    </label>
    <select id="item" name="barcode" autocomplete="off">
      <% items.each do |item| %>
        <option value="<%=item[:value]%>"<% if params[:barcode] == item[:value]%>selected<%end%>><%=item[:label]%></option>
        <% end %>
    </select>
    
    <button class="button-most-important">Save</button>
  </form>
</m-callout>
