<h1>
  <span class="subtle-heading">Select how to get this item</span><br>
  <a href="<%=item.catalog_url%>" class="get-url"><%=item.title%></a>
</h1>

<div class="get-options-aside-layout">
  <div get="get-options-container">
    <% options.each do |option| %>
      <% option.type == "book-this" ? render "options/get-this" : "Not available." %>
    <% end %>
  </div>

  <aside>
    <dl class="record">
      <dt>Location</dt><dd><%=item.library%></a></dd>
      <dt>Status</dt><dd>On Shelf <m-icon name="check-circle"></m-icon></dd>
      <dt>Call number</dt><dd><%=item.call_number%></dd>
      <dt>Barcode</dt><dd><%=item.barcode%></dd>
      <dt>Help</dt><dd><m-chat></m-chat><a href="https://www.lib.umich.edu/ask-librarian">Ask a Librarian</a></dd>
    </dl>

    <p><a href=<%=item.catalog_url%>>Library Search Catalog record</a></p>
  </aside>
</div>
