<h1>
  <span class="subtle-heading">Select how to get this</span><br>
  <a href="<%=item.catalog_url%>" class="get-url"><%=item.title%></a>
</h1>

<div class="get-details-aside-layout">
  <div get="get-details-container">
    <% options.each do |option| %>
      <details class="get-details">
        <summary>
          <h2 class="get-details-title"><%=option.title %></h2><br>
          <p><%=option.subtitle %></p>
        </summary>
        <div>
          <p>Unavailable Dates:</p>
          <ul>
            <% option.unavailable_dates.each do |date| %>
              <li><%= date %></li>
            <% end %>
          
          <form class="get-form">
            <label>
              You may find a label here.
              <input type="text" />
            </label>

            <button class="button-most-important">Get me this</button>
          </form>
        </div>
      </details>
    <% end %>
  </div>

  <aside>
    <dl class="record">
      <dt>Location</dt><dd><%=item.library%></a></dd>
      <dt>Status</dt><dd>On Shelf <m-icon name="check-circle"></m-icon></dd>
      <dt>Call number</dt><dd><%=item.call_number%></dd>
      <dt>Barcode</dt><dd><%=item.barcode%></dd>
      <dt>Help</dt><dd><m-chat></m-chat><a href="https://www.lib.umich.edu/ask-librarian">Ask a Librarian</a></dd>
    </dl>

    <p><a href=<%=item.catalog_url%>>Library Search Catalog record</a></p>
  </aside>
</div>
