<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start': new Date().getTime(),
          event: 'gtm.js',
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-TX44PM3');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="version" content="<%=(ENV["APP_VERSION"] || "APP_VERSION")%>">
    <title>Get This <% if defined?(item) %> "<%= item.title %>" <% end %>| University of Michigan Library</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <link href="https://cdn.jsdelivr.net/npm/@umich-lib/web@latest/umich-lib.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/bundles/get-this.css">

    <script type="module" src="https://cdn.jsdelivr.net/npm/@umich-lib/web@latest/dist/umich-lib/umich-lib.esm.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.4.0/dist/duet/duet.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.4.0/dist/duet/duet.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.4.0/dist/duet/themes/default.css" />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TX44PM3"
        height="0"
        width="0"
        style="display: none; visibility: hidden;"
      ></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <section aria-label="Skip links" class="site-skip-links">
      <div class="viewport-container">
        <ul>
          <li>
            <a href="#maincontent">Skip to main content</a>
          </li>
          <li>
            <a href="#chat">Skip to Ask a Librarian chat</a>
          </li>
        </ul>
      </div>
    </section>

    <m-universal-header></m-universal-header>
    <m-website-header name="Get This" to="https://search.lib.umich.edu/everything"></m-website-header>

    <main class="viewport-container container">
      <%= yield %>
      <% if dev_login? %>
        <%= erb :development_options %>
      <% end %>
    </main>

    <footer class="page-footer">
      <div class="page-footer__content">
        <div class="viewport-container">
          <nav class="footer-nav" aria-label="Footer">
            <ul>
              <li>
                <a href="https://search.lib.umich.edu/">Home</a>
              </li>
              <li>
                <a href="https://search.lib.umich.edu/accessibility">Accessibility</a>
              </li>
              <li>
                <a href="https://guides.lib.umich.edu/c.php?g=914690">Tips for using Library Search</a>
              </li>
              <li>
                <a href="https://lib.umich.edu/research-and-scholarship/help-research/how-we-can-help">Get research help</a>
              </li>
              <li>
                <a href="https://search.lib.umich.edu/technical-overview">Technical overview</a>
              </li>
              <li>
                <a href="https://ill.lib.umich.edu/">Make an <abbr title="Inter Library Loan">I.L.L.</abbr> Request</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="page-footer__disclaimer">
        <div class="viewport-container">
          <span>&copy; <%= Date.today.year %>, Regents of the University of Michigan.</span>
          <span>For details and exceptions, see the <a href="https://lib.umich.edu/about-us/policies/copyright-policy">Copyright&nbsp;Policy</a>.</span>
        </div>
      </div>
    </footer>
    <m-chat>
      <div id="chat" tabindex="-1"></div>
    </m-chat>
    <% if defined?(has_js)  %>
      <script src="/bundles/<%=request.js_filename%>.js"></script>
    <% end %>
  </body>
</html>
