---
let title = 'Get This | University of Michigan Library';

const get = {
  title: 'The Birds. An English version by Dudley Fitts',
  url: 'https://search.lib.umich.edu/catalog/record/990008570170106381?query=birds&library=All+libraries'
}

const options = [
  {
    title: 'Full text available online',
    subtitle: 'HathiTrust Emergency Temporary Access (simultaneous access is limited)'
  },
  {
    title: 'Request to have a small portion scanned (Document Deliver)',
    subtitle: 'I.L.L/Document Delivery (Expected availability 2-7 days)'
  }
]

/*

  Sample: https://search.lib.umich.edu/catalog/record/990008570170106381/get-this/39015012938612?query=birds&library=All+libraries
*/
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{title}</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">

  <link href="https://unpkg.com/@umich-lib/web/umich-lib.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/style/get-this.css">

  <script type="module" src="https://unpkg.com/@umich-lib/web/dist/umich-lib/umich-lib.esm.js"></script>
  <script nomodule src="https://unpkg.com/@umich-lib/web/dist/umich-lib/umich-lib.js"></script>
</head>
<body>
  <m-universal-header></m-universal-header>
  <m-website-header></m-website-header>
  <main class="viewport-container">
    <h1 class="get-page-heading">
      <span class="subtle-heading">Select how to get this</span><br>
      {get.title}
    </h1>

    <div class="get-details-aside-layout">
      <div get="get-details-container">
        {options.map((option) => (
          <details class="get-details">
            <summary>
              <h2 class="get-details-title">{option.title}</h2><br>
              <p>{option.subtitle}</p>
            </summary>

            <div>
              <form class="get-form">
                <label>
                  You may find a label here.
                  <input type="text" />
                </label>

                <button class="button-most-important">Get me this</button>
              </form>
            </div>
          </details>
        ))}
      </div>

      <aside>
        <dl class="record">
          <dt>Location</dt><dd>Buhr Shelving Facility</dd>
          <dt>Status</dt><dd>On Shelf <m-icon name="check-circle"></m-icon></dd>
          <dt>Call Number</dt><dd>888 A7av tF55</dd>
          <dt>Barcode</dt><dd>39015012938612</dd>
          <dt>Help</dt><dd><m-chat></m-chat><a href="https://www.lib.umich.edu/ask-librarian">Ask a Librarian</a></dd>
        </dl>

        <p><a href={get.url}>Library Search Catalog record</a></p>
      </aside>
    </div>
  </main>
</body>
</html>
